@charset "utf-8";

*{
    box-sizing: border-box;
}
html{
    font-size: 12px;
    font-family: 'MS PGothic', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    user-select: none;
    cursor: default;
    line-height: 1;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 24px 8px 0.4fr 24px 24px 1fr 18px;
    grid-template-areas:
        "ヘッダ ヘッダ"
        "枠線 枠線"
        "掲示板 サブジェクト"
        "掲示板 スレッドヘッダ"
        "掲示板 タブ"
        "掲示板 スレッド"
        "ステータス ステータス";
}


#ヘッダ{
    grid-area: ヘッダ;
    background-color: #f0f0f0;
    display: flex;
    border-bottom: solid 1px #a0a0a0;
}
#ナビアイコン{
    display: flex;
    align-items: center;
}
#板ボタン{
    flex: 1;
    display: flex;
    align-items: center;
}
#板ボタン span{
    padding: 2px 6px;
}
#アニメ{
    width: 32px;
    height: 32px;
    background-image: url('katjusha.gif');
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: 50% 50%;
    z-index: 2;
}
#アニメ[data-ajax="0"]{
    background-image: url('katjusha.png');
}



#枠線{
    grid-area: 枠線;
    height: 7px;
    margin-top: 1px;
    background-color: #f0f0f0;
    border-bottom: solid 1px #a0a0a0;
    border-left: none;
    border-top: none;
}




#掲示板{
    grid-area: 掲示板;
    padding-top: 3px;
    border-right: solid 1px #a0a0a0;
    overflow-y: scroll;
}
#掲示板 details{
}
#掲示板 summary{
    outline: none;
    padding: 1px 1px;
}
#掲示板 a{
    text-decoration: none;
    color: #000;
    padding: 1px 8px;
    margin: 1px 0;
    display: block;
}
#掲示板 [data-selected]{
    color: #fff;
    background-color: #0078d7;
}
#掲示板 details:nth-of-type(33n+1){
    border-left: 4px solid #ffffff;
}
#掲示板 details:nth-of-type(33n+2){
    border-left: 4px solid #985a62;
}
#掲示板 details:nth-of-type(33n+3){
    border-left: 4px solid #ddffdd;
}
#掲示板 details:nth-of-type(33n+4){
    border-left: 4px solid #ffd7ff;
}
#掲示板 details:nth-of-type(33n+5){
    border-left: 4px solid #519db0;
}
#掲示板 details:nth-of-type(33n+6){
    border-left: 4px solid #d7d7ff;
}
#掲示板 details:nth-of-type(33n+7){
    border-left: 4px solid #008080;
}
#掲示板 details:nth-of-type(33n+8){
    border-left: 4px solid #ff0000;
}
#掲示板 details:nth-of-type(33n+9){
    border-left: 4px solid #baa047;
}
#掲示板 details:nth-of-type(33n+10){
    border-left: 4px solid #ff8686;
}
#掲示板 details:nth-of-type(33n+11){
    border-left: 4px solid #c2b1ba;
}
#掲示板 details:nth-of-type(33n+12){
    border-left: 4px solid #8b3f78;
}
#掲示板 details:nth-of-type(33n+13){
    border-left: 4px solid #a9ba32;
}
#掲示板 details:nth-of-type(33n+14){
    border-left: 4px solid #a096de;
}
#掲示板 details:nth-of-type(33n+15){
    border-left: 4px solid #d3c48d;
}
#掲示板 details:nth-of-type(33n+16){
    border-left: 4px solid #ff00ff;
}
#掲示板 details:nth-of-type(33n+17){
    border-left: 4px solid #ffff00;
}
#掲示板 details:nth-of-type(33n+18){
    border-left: 4px solid #8f8c91;
}
#掲示板 details:nth-of-type(33n+19){
    border-left: 4px solid #ffa2ff;
}
#掲示板 details:nth-of-type(33n+20){
    border-left: 4px solid #0000ff;
}
#掲示板 details:nth-of-type(33n+21){
    border-left: 4px solid #d022c4;
}
#掲示板 details:nth-of-type(33n+22){
    border-left: 4px solid #b3ffb3;
}
#掲示板 details:nth-of-type(33n+23){
    border-left: 4px solid #37e6d9;
}
#掲示板 details:nth-of-type(33n+24){
    border-left: 4px solid #9595ff;
}
#掲示板 details:nth-of-type(33n+25){
    border-left: 4px solid #5b30c2;
}
#掲示板 details:nth-of-type(33n+26){
    border-left: 4px solid #c8f1ff;
}
#掲示板 details:nth-of-type(33n+27){
    border-left: 4px solid #00ff00;
}
#掲示板 details:nth-of-type(33n+28){
    border-left: 4px solid #28caff;
}
#掲示板 details:nth-of-type(33n+29){
    border-left: 4px solid #ffffd2;
}
#掲示板 details:nth-of-type(33n+30){
    border-left: 4px solid #ffd0d0;
}
#掲示板 details:nth-of-type(33n+31){
    border-left: 4px solid #008cbb;
}
#掲示板 details:nth-of-type(33n+32){
    border-left: 4px solid #ea8aac;
}
#掲示板 details:nth-of-type(33n+33){
    border-left: 4px solid #000000;
}



#サブジェクト{
    grid-area: サブジェクト;
    overflow-y: scroll;
}
#サブジェクト一覧表{
    border-collapse: collapse;
    width: 100%;
    margin: 1px 0 3px 0;
}
#サブジェクト一覧表 th{
    background-color: #f0f0f0;
    border-top: solid 1px #e3e3e3;
    border-left: solid 1px #e3e3e3;
    border-right: solid 1px #a0a0a0;
    border-bottom: solid 3px #fff;
    box-shadow: 0 -1px 0 0 #a0a0a0 inset;
    font-weight: normal;
    padding: 1px 4px 2px 4px;
}
#サブジェクト一覧表 th:nth-of-type(1){
    text-align: right;
    width: 40px;
}
#サブジェクト一覧表 th:nth-of-type(2){
    text-align: left;
    padding-left: 8px;
    width: 450px;
    overflow: hidden;
}
#サブジェクト一覧表 th:nth-of-type(3){
    text-align: right;
    width: 40px;
}
#サブジェクト一覧表 th:nth-of-type(4){
    text-align: right;
    width: 40px;
}
#サブジェクト一覧表 th:nth-of-type(5){
    text-align: right;
    width: 40px;
}
#サブジェクト一覧表 th:nth-of-type(6){
    text-align: left;
    width: 140px;
}
#サブジェクト一覧表 th:nth-of-type(7){
    text-align: left;
    width: 140px;
}

#サブジェクト一覧 td{
    padding: 2px 4px;
}
#サブジェクト一覧 td:nth-of-type(1){
    text-align: right;
}
#サブジェクト一覧 td:nth-of-type(2){
    text-align: left;
    padding-left: 10px;
}
#サブジェクト一覧 td:nth-of-type(3){
    text-align: right;
}
#サブジェクト一覧 td:nth-of-type(4){
    text-align: right;
}
#サブジェクト一覧 td:nth-of-type(5){
    text-align: right;
}
#サブジェクト一覧 td:nth-of-type(6){
    text-align: left;
}
#サブジェクト一覧 td:nth-of-type(7){
    text-align: left;
}
#サブジェクト一覧 td:nth-of-type(8){
    z-index: 2;
    background-color: #fff;
}
#サブジェクト一覧 a{
    text-decoration: none;
    color: #000;
    cursor: default;
}
#サブジェクト一覧 [data-selected]{
    color: #fff;
    background-color: #0078d7;
}
#サブジェクト一覧 [data-selected] a{
    color: #fff;
}



#スレッドヘッダ{
    grid-area: スレッドヘッダ;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #c0c0c0;
    box-shadow: 0 1px 0 0 #fff inset;
}
#スレッドヘッダ_掲示板名{
    margin-left: 14px;
}
#スレッドヘッダ_掲示板名 a{
    color: #000;
    text-decoration: none;
}
#スレッドヘッダ_アイコン{
    display: flex;
    align-items: center;
}


#タブ{
    grid-area: タブ;
    list-style: none;
    cursor: default;
    display: flex;
    align-items: flex-end;
    background-color: #f0f0f0;
    margin: 0;
    padding-left: 10px;
    border-bottom: 1px solid #c0c0c0;
}
#タブ > li{
    text-align: left;
    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    background-color: #f0f0f0;
    color: #909090;
    background: linear-gradient(top, #ececec 50%, #e9e9e9 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100px;
    margin: 0 -5px;
    padding-left: 10px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 20px;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.4), inset 1px 1px 0 #fff;
}
#タブ [data-selected]{
    color: #000;
    z-index: 2;
    height: 22px;
    line-height: 22px;
}
#タブ [data-selected]::before{
    box-shadow: 2px 2px 0 #fff;
}
#タブ [data-selected]::after{
    box-shadow: -2px 2px 0 #fff;
}


#スレッド{
    grid-area: スレッド;
    font-size: 18px;
    user-select: text;
    cursor: auto;
    overflow-y: scroll;
    padding: 2px 12px 24px 6px;
    word-break: break-all;
    line-height: 1.15;
}

#スレッド section{
    margin: 20px 8px;
}
#スレッド i{
    color: blue;
    font-style: normal;
    cursor: pointer;
    margin-right: 3px;
}
#スレッド i:hover{
    text-decoration: underline;
}
#スレッド b{
    color: forestgreen;
    font-weight: bold;
    margin-left: 4px;
}
#スレッド date{
    margin-left: 4px;
}
#スレッド p{
    margin-top: 3px;
    margin-left: 36px;
}
#スレッド a{
    text-decoration: none;
}
#スレッド a:hover{
    text-decoration: underline;
}

#スレッド .anker{
    position: relative;
    cursor: pointer;
    color: blue;
}
#スレッド .popup{
    font-size: 14px;
    color: #000;
    background-color: #ffffe1;
    position: absolute;
    border-right: 1px solid #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
    border-left: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    box-shadow: 0 1px 0 #f7f7f7;
    bottom: 24px;
    left: 8px;
    z-index: 8;
    padding: 6px 4px;
    white-space: nowrap;
    cursor: default;
}
#スレッド .popup p{
    margin: 3px 0 0 12px;
}

.スレッド{
    display: none;
}
.スレッド[data-selected]{
    display: block;
}

#ステータス{
    grid-area: ステータス;
    border-top: 1px solid #c0c0c0;
    box-shadow: 0 1px 0 0 #fff inset;
    background-color: #f0f0f0;
    line-height: 18px;
    font-family: Meiryo, sans-serif;
    padding-left: 4px;
}



#投稿フォーム{
    display: none;
    position: absolute;
    z-index: 5;
    border: solid 1px #2982cc;
    min-width: 400px;
    height: 272px;
    background-color: #f0f0f0;
}
[data-open="スレッド"] #投稿フォーム{
    display: block;
}
[data-open="レス"] #投稿フォーム{
    display: block;
}
#投稿フォーム header{
    background-color: #2982cc;
    padding: 5px 0 5px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url('favicon.png');
    background-size: 16px;
    background-position: 6px center;
    height: 28px;
}
#投稿フォーム_タイトル{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    margin-left: 20px;
}
#投稿フォーム_閉じるボタン{
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-image: url('close.svg');
    background-size: 16px;
    background-position: center center;
    cursor: pointer;
}
#投稿フォーム_閉じるボタン:hover{
    background-color: #e81123;
    
}
#投稿フォーム [type="text"]{
    border-left: solid 1px #696969;
    border-top: solid 1px #696969;
    border-right: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
    box-shadow: -1px -1px 0 #a0a0a0, 1px 1px 0 #fff;
    outline: none;
    padding-left: 2px;
    height: 18px;
    margin-left: 6px;
    font-family: 'MS PGothic', sans-serif;
}
#投稿フォーム .subject-line{
    margin: 10px 10px 8px 10px;
    display: flex;
    align-items: center;
}
#投稿フォーム .FROM-line{
    margin: 8px 10px 10px 25px;
    display: flex;
    align-items: center;
}
#投稿フォーム_タイトル欄{
    width: 330px;
}

#投稿フォーム_名前欄{
    width: 115px;
    margin-right: 6px;
}
#投稿フォーム_メール欄{
    width: 115px;
    margin-right: 6px;
}
#投稿フォーム_メール欄:disabled{
    background-color: #fff;
}
#投稿フォーム label{
    margin-right: 8px;
}
#投稿フォーム_sage{

}
#投稿フォーム_本文欄{
    width: 380px;
    font-size: 12px;
    height: 120px;
    border-left: solid 1px #696969;
    border-top: solid 1px #696969;
    border-right: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
    box-shadow: -1px -1px 0 #a0a0a0, 1px 1px 0 #fff;
    margin: 0 10px 10px 10px;
    overflow: scroll;
    outline: none;
    padding-left: 4px;
    resize: none;
}

#投稿フォーム .button-line input{
    background-color: transparent;
    width: 80px;
    font-size: 12px;
    font-family: 'MS PGothic', sans-serif;
    padding: 3px;
    border-left: solid 1px #e3e3e3;
    border-top: solid 1px #e3e3e3;
    border-right: solid 1px #a0a0a0;
    border-bottom: solid 1px #a0a0a0;
    box-shadow: -1px -1px 0 #fff, 1px 1px 0 #696969;
}
#投稿フォーム .button-line input:active{
    transform: translate(1px, 1px);
}

#投稿フォーム .button-line{
    text-align: center;
    margin-top: -5px;
}

#投稿フォーム_タブ{
    height: 24px;
    list-style: none;
    cursor: default;
    display: flex;
    align-items: flex-end;
    background-color: #f0f0f0;
    margin: 0;
    padding-left: 6px;
    border-bottom: 1px solid #c0c0c0;
    box-shadow: 0 1px 0 #fff;
}
#投稿フォーム_タブ > li{
    text-align: center;
    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    background-color: #f0f0f0;
    color: #909090;
    background: linear-gradient(top, #ececec 50%, #e9e9e9 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0 -5px;
    padding: 0 6px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 20px;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.4), inset 1px 1px 0 #fff;
}

#投稿フォーム_タブ .選択{
    color: #000;
    z-index: 2;
    height: 22px;
    line-height: 22px;
}
#投稿フォーム_タブ .選択::before{
    box-shadow: 2px 2px 0 #fff;
}
#投稿フォーム_タブ .選択::after{
    box-shadow: -2px 2px 0 #fff;
}


#コンテキスト{
    display: none;
    position: absolute;
    z-index: 10;
}
#コンテキスト[data-open]{
    display: block;
}
#コンテキスト .context-subject{
    width: 250px;
}
#コンテキスト .context-tab{
    width: 220px;
}

.menu,
.menu ul{
    min-width: 160px;
    margin: 0;
    padding: 2px 0;
    list-style: none;
    background-color: #f0f0f0;
    border: 1px solid #999;
    border-radius: 2px;
    box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.1);
}
.menu li{
    font-family: Meiryo, sans-serif;
    font-size: 12px;
}
.menu li:empty{
    height: 2px;
    margin: 3px 1px;
    background-color: #e5e5e5;
    box-shadow: 0 1px 0 #fff;
}

.menu a{
    display: block;
    padding: 1px 20px 1px 24px;
    line-height: 18px;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    cursor: default;
}
.menu a:hover,
.menu-sub:hover > a{
    background-color: #91c9f7;
}

.menu-sub{
    position: relative;
}
.menu-sub > a::after{
    position: absolute;
    right: 5px;
    width: 0;
    height: 0;
    margin-top: 5px;
    border: solid 5px transparent;
    border-left: solid 5px #333;
    content: '';
}
.menu-sub > ul{
    position: absolute;
    top: -3px;
    left: 100%;
    border-radius: 2px;
    display: none;
}
.menu-sub:hover > ul{
    display: block;
}



.icon{
    box-sizing: content-box;
    padding: 2px 2px;
    margin: 0 1px;
    border: solid 1px #f0f0f0;
}
.icon:hover{
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
    border-bottom: solid 1px #a0a0a0;
    border-right: solid 1px #a0a0a0;
}
.icon:active{
    border-top: solid 1px #a0a0a0;
    border-left: solid 1px #a0a0a0;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
    transform: translate(1px, 1px);
}
.icon-separate{
    margin: 0 3px;
}
